*{
	margin:0;
	padding:0;
	border:0;
}


#header{	
	background-color: powderblue;
	width: 100%;
	height: 18vh;	
}

#logo{
	height:10vh;
	width:15vh;
	float: left;
	padding-left: 3vh;
	padding-top: 0.5vh;
}

h1{	
	font-size: 5vh;
	float: right;
	padding-right: 5vh;
}


#meni{	
	position:absolute;
	height:6%;	
	margin-top:12vh;
	width:100%;
}


#meni ul{	
	list-style:none;
	font-size: 2.5vh;	
}

#meni ul li{
	display: inline;
	padding-right: 4vh;
}

#side{
	float:left;
	background-color: whitesmoke;
	width:35%;
	height: 70vh;	
}

#fu{		
	width:85%;	
	height: 60vh;		
	font-size:2vh;	
	padding-left:10%;
	margin-top:5vh;		
	margin-bottom:5vh;		
}

#post{
	padding-top:5vh;
	font-size:4vh;
	padding-left:20%;	
	padding-bottom:2vh;
}

#naziv1{
	border:solid 0.3vh;
	width:70%;
	height:2vh;
	margin-bottom:1vh;
}

#naziv2{
	border:solid 0.3vh;
	width:70%;
	height:2vh;
	margin-bottom:1vh;
}

#naziv3{
	border:solid 0.3vh;
	width:70%;
	height:2vh;
	margin-bottom:1vh;
}


#ponisti{
	margin-top:1vh;
	margin-left:10%;
	border:solid 0.3vh;
	width:20%;
	height:4vh;
	font-size:90%;
	margin-right: 10%;	
}

#dodaj{
	margin-top:1vh;
	margin-left:10%;
	border:solid 0.3vh;
	width:20%;
	height:4vh;
	font-size:90%;
	margin-right: 10%;	
}

#osvjezi{
	margin-top:1vh;
	margin-left:10%;
	border:solid 0.3vh;
	width:20%;
	height:4vh;
	font-size:90%;
	margin-right: 10%;	
}


#glavniSadrzaj{
	float:right;
	width:65%;
	background-color: gainsboro;
	height: 70vh;
}

.folder{		
	width: 60vh;
	height: 60vh;
	margin: 0 auto;
	margin-top:2vh;
	margin-bottom:2vh;	
	display:grid;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 2%;
		
	
}


.item{		
	background-color:powderblue;
	border: solid 0.2vh;
	width:15vh;
	height:15vh;
	font-size:2vh;
	text-align:center;
	margin-left:12%;
	margin-right:10%;
	margin-top:10%;
	margin-bottom:10%;	
	
	
}

#footer{	
	background-color: powderblue;
	width:100%;
	margin-top:70vh;
	height:15vh;
	
}

#wt{	
	font-size: 5vh;	
	text-align:center;
	padding-top: 4vh;	
		
}

@media only screen and (max-width: 600px) {

#header{		
	height: 27vh;	
}

h1{
	position: absolute;	
	margin-top:21vh;
}

#meni{
	height:9%;
}

#side{	
	float:left;	
	width:100%;
	height: 50vh;
	
}

#glavniSadrzaj{
	
	width:100%;	
	height: 70vh;
}


#footer{
	margin-top: 120vh;
	height:15vh;
	background-color: powderblue;
	width:100%;	
}
    
}