*{
	margin:0;
	padding:0;
	border:0;
}


#header{	
	background-color: powderblue;
	width: 100%;
	height: 18vh;	
}

#logo{
	height:10vh;
	width:15vh;
	float: left;
	padding-left: 3vh;
	padding-top: 0.5vh;
}

h1{	
	font-size: 5vh;
	float: right;
	padding-right: 5vh;
}


#meni{	
	position:absolute;
	height:6%;	
	margin-top:12vh;
	width:100%;
}


#meni ul{	
	list-style:none;
	font-size: 2.5vh;	
}

#meni ul li{
	display: inline;
	padding-right: 4vh;
}

#glavniSadrzaj{	
	background-color: gainsboro;
	float:left;
	height:70vh;
	margin-left:7.5%;
	margin-right:7.5%;	
	width:85%;
}

#fp{	
	border: solid 0.4vh;
	width:50%;
	background-color:khaki;
	height: 20vh;		
	font-size:2vh;	
	margin: 0 auto;
	margin-top:2vh;		
	margin-bottom:1vh;		
}

#post{
	font-size:2vh;
	text-align:center;	
}

#selekt1{	
	width:80%;
	height:2vh;
	font-size:1.5vh;
}

#selekt2{
	width:80%;
	height:2vh;
	font-size:1.5vh;
	margin-bottom:1vh;
}

#selekt6{
	width:80%;
	height:2vh;
	font-size:1.5vh;
	margin-bottom:1vh;
}

#selekt7{
	width:80%;
	height:2vh;
	font-size:1.5vh;
	margin-bottom:1vh;
}

#dodaj{	
	margin-left:70%;
	border:solid 0.3vh;
	width:20%;
	height:4vh;
	font-size:90%;
	margin-right: 10%;
	
}

#dodaj3{	
	margin-left:70%;
	border:solid 0.3vh;
	width:20%;
	height:4vh;
	font-size:90%;
	margin-right: 10%;
	
}

#fz{	
	border: solid 0.4vh;
	width:50%;
	background-color:khaki;
	height: 20vh;		
	font-size:2vh;	
	margin: 0 auto;
	margin-top:2vh;
	
		
}




#fn{	
	border: solid 0.4vh;
	width:50%;
	background-color:khaki;
	height: 20vh;		
	font-size:2vh;	
	margin: 0 auto;
	
		
}

#nova{
	font-size:2vh;
	text-align:center;
	padding-bottom:1vh;
	
}

#naziv{
	border:solid 0.3vh;
	width:70%;
	height:2vh;
}

#selekt3{
	width:80%;
	height:2vh;
	font-size:1.5vh;
}

#godina{		
	border:solid;
	background-color:white;
	margin-top:2vh;		
	margin-left:10vh;
	margin-right:10vh;	
}

#godina ul{		
	height:10vh; 	
	overflow:hidden; 
	overflow-y:scroll;	
}

#godina ul li{
	font-size:2vh;
	margin-left:1vh;
}

#selekt4{
	width:40%;
	height:2vh;
	font-size:1.5vh;	
}

#dodajZadatak{
	margin-top:1vh;
	margin-left:5%;
	border:solid 0.3vh;
	width:40%;
	height:3vh;
	font-size:90%;
	margin-right: 10%;	
}

#dodaj2{
	margin-top:1vh;
	margin-left:45%;
	border:solid 0.3vh;
	width:20%;
	height:4vh;
	font-size:90%;
	margin-right: 10%;
	margin-bottom:1%
	
}


#footer{		
	background-color: powderblue;
	width:100%;
	margin-top:70vh;
	height:15vh;
	
}

#wt{	
	font-size: 5vh;	
	text-align:center;
	padding-top: 4vh;	
		
}


@media only screen and (max-width: 600px) {

#header{		
	height: 27vh;	
}

h1{
	position: absolute;	
	margin-top:21vh;
}

#meni{
	height:9%;
}

#side{
	float:left;	
	width:100%;
	height: 50vh;
	
}

#odabir{
	font-size: 4vh;
	padding-top: 5vh;
	text-align:center;	
}
 
#menidva{	
	border:solid;
	background-color:white;
	margin-top:5vh;		
	margin-left:40vh;
	margin-right:40vh;	
}

#menidva ul{		
	height:30vh; 	
	overflow:hidden; 
	overflow-y:scroll;	
	
}

#menidva ul li{
	font-size:3vh;
	margin-left:1vh;
}



#glavniSadrzaj{
	
	width:100%;	
	margin-left:0%;
	margin-right:0%;	
}



#footer{
	margin-top: 70vh;
	height:15vh;
	background-color: powderblue;
	width:100%;	
}
    
}
