*{
	margin:0;
	padding:0;
	border:0;
}


#header{	
	background-color: powderblue;
	width: 100%;
	height: 18vh;	
}

#logo{
	height:10vh;
	width:15vh;
	float: left;
	padding-left: 3vh;
	padding-top: 0.5vh;
}

h1{	
	font-size: 5vh;
	float: right;
	padding-right: 5vh;
}


#meni{	
	position:absolute;
	height:6%;	
	margin-top:12vh;
	width:100%;
}


#meni ul{	
	list-style:none;
	font-size: 2.5vh;	
}

#meni ul li{
	display: inline;
	padding-right: 4vh;
}

#tekst{
	font-size:3vh;
	margin-top: 2vh;
	margin-left:2vh;
}


#glavniSadrzaj{
	float:left;
	width:100%;
	background-color: whitesmoke;
	height: 70vh;
}

#tabela{
	font-size:3vh;
	background-color: gainsboro;
	margin-top:5vh;
	width:80%;
	height:50vh;
	text-align:center;	
	border:solid;
	border-collapse:collapse;
	margin-left: 15vh;
}

#tabela tr{	
	text-align:center;
	padding-left:3vh;
}

#tabela th{
	background-color:powderblue;

}

#tabela td, th{
	border:solid;	
}


#footer{	
	background-color: powderblue;
	width:100%;
	margin-top:70vh;
	height:15vh;
	
}

#wt{	
	font-size: 5vh;	
	text-align:center;
	padding-top: 4vh;	
		
}

