body{
	background-color: silver;	
}

#login {
	background-color: #4CAF50;
	width: 300px;	
	height: 150px;	
	margin:auto;
	top:0;
	left:0;
	bottom:0;
	right:0;	
}

#forma {
	padding-top:5%;
	padding-bottom:5%;
	text-align: center;	
}
