	*{
	margin:0;
	padding:0;
	border:0;
}


#header{	
	background-color: powderblue;
	width: 100%;
	height: 18vh;	
}

#logo{
	height:10vh;
	width:15vh;
	float: left;
	padding-left: 3vh;
	padding-top: 0.5vh;
}

h1{		
	background-color:red;
	font-size: 5vh;
	float: right;
	padding-right: 5vh;
}

#meni{		
	position:absolute;
	height:6%;	
	margin-top:12vh;
	width:100%;
}


#meni ul{	
	list-style:none;
	font-size: 2.5vh;	
}

#meni ul li{
	display: inline;
	padding-right: 4vh;
}

#side{
	float:left;
	background-color: whitesmoke;
	width:35%;
	height: 70vh;
	
	
}

#odabir{
	font-size: 4vh;
	padding-top: 5vh;
	text-align:center;	
}
 
#menidva{	
	height:70%;
	border:solid;
	background-color:white;
	margin-top:5vh;		
	margin-left:10%;
	margin-right:10%;	
}

#menidva ul{		
	height:100%; 	
	overflow:hidden; 
	overflow-y:scroll;	
	
}

#menidva ul li{
	font-size:3vh;
	margin-left:1vh;
}


#glavniSadrzaj{
	float:right;
	width:65%;
	background-color: khaki;
	height: 70vh;
}

#tabela{
	font-size:3vh;
	background-color: whitesmoke;
	margin-top:5vh;
	width:70%;
	height:60vh;
	text-align:center;	
	border:solid;
	border-collapse:collapse;
	margin-left: 10%;
	margin-right:10%;
}

#tabela tr{	
	text-align:center;
	padding-left:3vh;
}

#tabela td, th{
	border:solid;	
}

#footer{	
	background-color: powderblue;
	width:100%;
	margin-top:70vh;
	height:15vh;
	
}

#wt{	
	font-size: 5vh;	
	text-align:center;
	padding-top: 4vh;	
		
}

@media only screen and (max-width: 600px) {

#header{		
	height: 28vh;	
}

h1{
	position: absolute;	
	margin-top:22vh;
}

#meni{
	height:9%;
}



#side{
	float:left;	
	width:100%;
	height: 50vh;
	
}

#odabir{
	font-size: 4vh;
	padding-top: 5vh;
	text-align:center;	
}

#menidva{
	height:50%;
}
 

#glavniSadrzaj{
	
	width:100%;	
	height: 70vh;
}

#tabela{
	font-size:3vh;
	background-color: whitesmoke;
	margin-top:5vh;
	width:80%;
	height:60vh;
	text-align:center;	
	border:solid;
	border-collapse:collapse;
	margin-left: 13vh;
}

#tabela tr{	
	text-align:center;
	padding-left:3vh;
}

#tabela td, th{
	border:solid;	
}

#footer{
	margin-top: 120vh;
	height:15vh;
	background-color: powderblue;
	width:100%;	
}
    
}