*{
	margin:0;
	padding:0;
	border:0;
}


#header{	
	background-color: powderblue;
	width: 100%;
	height: 18vh;	
}

#logo{
	height:10vh;
	width:15vh;
	float: left;
	padding-left: 3vh;
	padding-top: 0.5vh;
}

h1{		
	font-size: 5vh;
	float: right;
	padding-right: 5vh;
}

#meni{	
	position:absolute;
	height:6%;	
	margin-top:12vh;
	width:100%;
}


#meni ul{	
	list-style:none;
	font-size: 2.5vh;	
}

#meni ul li{
	display: inline;
	padding-right: 4vh;
}


.cetvrtina{
	
	float:left;
	background-color: gainsboro;
	width:25%;
	height: 70vh;
	
	
}

#cetvrtina1{
	background-color: silver;
}

#godinatekst{
	font-size: 4vh;
	padding-top: 5vh;
	text-align:center;	
}
 
#godina{	
	width:70%;
	border:solid;
	background-color:white;
	margin-top:5vh;		
	margin-left:12%;
	margin-right:12%;	
}

#godina ul{	
	height:100%;
	width:100%;	
	height:40vh; 	
	overflow:hidden; 
	overflow-y:scroll;	
	
}

#godina ul li{
	font-size:3vh;
	margin-left:1vh;
}


#student{	
	font-size: 4vh;
	padding-top: 5vh;
	text-align:center;	
}

#forma{	
	width:70%;	
	margin-left:15%;
	margin-bottom:2vh;
	height:20vh;	

}

#tekst1{
	padding: 1vh;
	width:80%;
	height:2vh;
	margin-bottom:1vh;
}

#button1{
	background-color:whitesmoke;
	border:solid;
	margin-left: 25%;	
	width:50%;
	height:5vh;
	margin-top:1vh;
	font-size:2vh;
	margin-bottom:4vh;
}

#imena{	
	width:70%;
	height:50%;
	margin-top:2vh;
	border:solid;
	background-color:white;		
	margin-left:14%;
	margin-right:14%;	
		
}

#imena ul{
	width:100%;		
	height:100%; 	
	overflow:hidden; 
	overflow-y:scroll;	
	
}

#imena ul li{
	font-size:3vh;
	margin-left:1vh;
}


.polovina{	
	
	background-color:gainsboro;
	float:right;
	width:50%;
	height: 70vh;	
}

.folder{		
	width: 85%;
	height:28vh;
	margin-top:5vh;
	margin-left:2vh;
	margin-right:2vh;
	margin-bottom:2vh;
	border: solid;
	background-color:whitesmoke;
	display:grid;
	grid-template-columns:repeat(auto-fill, minmax(10vh, 1fr));
	grid-gap: 0.4vh;
		
	
}


.item{		
	background-color:powderblue;
	border: solid 0.2vh;
	width:7vh;
	height:7vh;
	font-size:2vh;
	text-align:center;
	margin-left:1vh;
	margin-right:1vh;
	margin-top:5vh;
	margin-bottom:1vh;	
	
	
}

#vjezbe{
	margin-top:0.5vh;
	position:absolute;
	margin-left: 2vh;
	font-size:3vh;
}

#spirale{
	position:absolute;	
	margin-left: 2vh;
	font-size:3vh;
}

#footer{	
	background-color: powderblue;
	width:100%;
	margin-top:70vh;
	height:15vh;
	
}

#wt{	
	font-size: 5vh;	
	text-align:center;
	padding-top: 4vh;	
		
}


@media only screen and (max-width: 600px) {

#header{		
	height: 28vh;	
}

h1{
	position: absolute;	
	margin-top:22vh;
}

#meni{
	height:9%;
}

.cetvrtina{
	width:100%;
}

.polovina{
	width:100%;		
}

.folder{		
	position: relative;
	width:80%;
	margin:2vh auto 2vh;	
}




#footer{
	margin-top: 210vh;
	height:15vh;
	background-color: powderblue;
	width:100%;	
}
    
}






















